.section-divider {
    position: relative;
    width: 100%;
    height: 60px;
    /* Increased height for better visibility */
    margin-top: -1px;
    background: var(--color-surface);
    overflow: hidden;
    z-index: 10;
}

.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 40px;
    max-height: 100px;
}

/* Animation parallax */
.parallax>use {
    animation: move-forever 15s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* Scroll-driven animation (modern browsers) */
@supports (animation-timeline: scroll()) {
    .parallax>use {
        animation: none;
        /* Disable standard infinite animation */
        animation-name: move-on-scroll;
        animation-fill-mode: both;
        animation-timeline: scroll();
    }
}

@keyframes move-on-scroll {
    from {
        transform: translate3d(-90px, 0, 0);
    }

    to {
        transform: translate3d(85px, 0, 0);
    }
}

/* On mobile, make it a bit smaller */
@media (max-width: 768px) {
    .section-divider {
        height: 40px;
    }

    .waves {
        height: 40px;
    }
}